<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <div class="btn-users-show">
          <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
          <%= l(@first_day, format: :middle) %>時間管理表
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
        </div>
      </td>
      <td>指定勤務開始時間 : <%= l(@user.designated_work_start_time, format: :time) %>
      <br>指定勤務終了時間 : <%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td>基本時間 : <%= format_basic_info(@user.basic_time) %></td>
      <td>初日 : <%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数 : <%= @worked_sum %>日</td>
      
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

 <% if current_user.superior? %>
  <div class="btn-users-show">
   <p><%= link_to "【所属長承認申請のお知らせ】", attendances_edit_request_one_month_user_path(@user), remote: true, class: "btn btn-link" %> <a class = "box1">件通知がありました</a></p></div>
   <div class="btn-users-show">
   <p><%= link_to "【勤怠変更申請のお知らせ】", attendances_edit_change_request_user_path(@user), remote: true, class: "btn btn-link" %>通知</p></div>
   <div class="btn-users-show">
   <p><%= link_to "【残業申請のお知らせ】", attendances_edit_request_overtime_user_path(@user), remote: true, class: "btn btn-link" %>通知</p></div>
 <% end %>
<div class="btn-users-show">
  <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
  <%= link_to "CSV出力", attendances_show_work_time_user_path(format: :csv), class: "btn btn-primary" %>
  <br><%= link_to "勤怠修正ログ（承認済）", "#", class: "btn btn-primary" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan = "2">残業申請</th>
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th colspan = "3">出勤時間</th>
        <th colspan = "3">退勤時間</th>
        <th rowspan = "4" colspan = "4">在社時間</th>
        <th rowspan = "4">備考</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", attendances_edit_over_time_user_path, remote: true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="blue">土</font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="red">日</font>
            <% elsif day.worked_on.wday == 1 %>
              <font color="black">月</font>
            <% elsif day.worked_on.wday == 2 %>
              <font color="black">火</font>
            <% elsif day.worked_on.wday == 3 %>
              <font color="black">水</font>
            <% elsif day.worked_on.wday == 4 %>
              <font color="black">木</font>
            <% elsif day.worked_on.wday == 5 %>
              <font color="black">金</font>
            <% end %>            
          </td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= format_min(day.started_at) if day.started_at.present? %></td>
          
          <td>
              <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-default btn-attendance" %>
              <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td></td>
          <td colspan = "4">
              <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
 
  
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="4">累計在社時間</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="4"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td rowspan="4"></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div id="edit-over-time" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

