<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @user, url: apploval_request_user_attendance_path, local: true, method: :patch) do |f| %>
     <% @users.each do |user| %>
           <h1 class="modal-title">【<%= user.name %>からの１ヶ月分勤怠申請】</h1>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <table class="table table-bordered table-condensed user-table">
                         <thead>
                          <tr>
                            <td>月</td>
                            <td>指示者確認</td>
                            <td>変更</td>
                            <td>勤怠を確認する</td>
                          </tr>
                         </thead>
                         <tbody>
                         <% @attendances.each do |date| %>
                          <%= f.fields_for "attendances[]", date do |i| %>
                              <tr>
                                <td><%= l(date.worked_on, format: :long_line) if date.apploval_month.present? %>月</td>
                                <td><%= i.select :mark_apploval_confirmation, Attendance.mark_apploval_confirmations.keys.to_a, { include_blank: true } %></td>
                                <td><%= i.check_box :change_apploval %></td>
                                <td><%= link_to "確認", users_confirmation_check_user_attendance_path(@user, id: date.user_id, date: date.worked_on), class: "btn btn-primary" %></td>
                              </tr>
                        </tbody>
                      <% end %>
                     <% end %>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        <div class="center">
         <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
        </div>
    <% end %>
  </div>
</div>
