<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【<%= @user.name %>からの１ヶ月分勤怠申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered table-condensed user-table">
           <%= form_with(model: @attendance, url: apploval_one_month_user_attendance_path, local: true) do |f| %>
             <thead>
              <tr>
                <td>月</td>
                <td>指示者確認</td>
                <td>変更</td>
                <td>勤怠を確認する</td>
              </tr>
             </thead>
             <tbody>
              <tr>
                <td><%= l(@attendance.worked_on, format: :month) %></td>
                <td><%= f.select :mark_instructor_confirmation, [["なし"],["申請中"],["承認"],["否認"]], class: "form-control" %></td>
                <td></td>
                <td><%= link_to "確認", "#", class: "btn btn-primary" %></td>
              </tr>
             </tbody>
           </table>
              <div class="center">
                <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
                <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                  キャンセル
                </button>
              </div>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>