<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   <%= form_with(model: @user, url: change_request_user_attendance_path, local: true, method: :patch) do |f| %>
    <% @users.each do |user| %>   
     <h1 class="modal-title">【<%= user.name %>からの勤怠変更申請】</h1>
      <div class="modal-body">
       <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered table-condensed user-table">
           <thead> 
              <tr>
                <td rowspan = "4">日付</td>
                <td rowspan = "4">曜日</td>
                <td colspan = "4">変更前</td>
                <td colspan = "4">変更後</td>
                <td rowspan = "4">備考</td>
                <td rowspan = "4">指示者確認</td>
                <td rowspan = "4">変更</td>
                <td rowspan = "4">勤怠を確認</td>
              </tr>
              <tr>
                <th colspan = "2">出社</th>
                <th colspan = "2">退社</th>
                <th colspan = "2">出社</th>
                <th colspan = "2">退社</th>
              </tr>
              <tr>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
              </tr>
             </thead>
             <tbody>
              <% @attendances.each do |day| %>
               <%= f.fields_for "attendances[]", day do |i| %>
               <%= i.hidden_field :change_confirmation, :value => @user.name %>
               <%= i.hidden_field :change_date, :value => Date.today %>
               <% if day.user_id == user.id && day.mark_change_confirmation == "申請中" && current_user.name == day.change_confirmation %>
                <tr>
                  <td><%= l(day.worked_on, format: :short) %></td>
                  <td>
                    <% if day.worked_on.wday == 6 %>
                      <font color="blue">土</font>
                    <% elsif day.worked_on.wday == 0 %>
                      <font color="red">日</font>
                    <% elsif day.worked_on.wday == 1 %>
                      <font color="black">月</font>
                    <% elsif day.worked_on.wday == 2 %>
                      <font color="black">火</font>
                    <% elsif day.worked_on.wday == 3 %>
                      <font color="black">水</font>
                    <% elsif day.worked_on.wday == 4 %>
                      <font color="black">木</font>
                    <% elsif day.worked_on.wday == 5 %>
                      <font color="black">金</font>
                    <% end %>            
                  </td>
                  <% if day.started_at.present? %>
                    <td><%= l(day.started_at, format: :hour) %></td>
                    <td><%= format_min(day.started_at) %></td>
                  <% elsif day.started_before_at.present? %>
                    <td><%= l(day.started_before_at, format: :hour) %></td>
                    <td><%= format_min(day.started_before_at) %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                  <% if day.finished_at.present? %>
                    <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
                    <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
                  <% elsif day.finished_before_at.present? %>
                    <td><%= l(day.finished_before_at, format: :hour) if day.finished_before_at.present? %></td>
                    <td><%= format_min(day.finished_before_at) if day.finished_before_at.present? %></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                  <td><%= l(day.started_edit_at, format: :hour) if day.started_edit_at.present? %></td>
                  <td><%= format_min(day.started_edit_at) if day.started_edit_at.present? %></td>
                  <td><%= l(day.finished_edit_at, format: :hour) if day.finished_edit_at.present? %></td>
                  <td><%= format_min(day.finished_edit_at) if day.finished_edit_at.present? %></td>
                  <td><%= day.note %></td>
                  <td><%= i.select :mark_change_confirmation, Attendance.mark_change_confirmations.keys, { include_blank: true } %></td>
                  <td><%= i.check_box :change_at %></td>
                  <td><%= link_to "確認", users_confirmation_check_user_attendance_path(@user, id: day.user_id, date: day.change_month), class: "btn btn-primary" %></td>
                </tr>
            </tbody>
            <% end %>
            <% end %>
            <% end %>
          </table>
            </div>
            </div>
           </div>
          <% end %>
      <div class="center">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
      </div>
    <% end %>
  </div>
</div>