<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を申請する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with(model: @attendances, url: request_overtime_user_attendance_path(@user, @attendances), local: true, method: :patch) do |f| %>
            <%= f.hidden_field :mark_instructor_confirmation, :value => "申請中" %>
            <%= f.hidden_field :overtime_month, :value => @first_day %>
            <%= f.hidden_field :worked_on, :value => @first_day %>
            <table class="table table-bordered table-condensed user-table">
               <thead> 
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>翌日</td>
                  <td>業務処理内容</td>
                  <td>指示者確認</td>
                </tr>
               </thead>
               <tbody>
                <tr>
                  <td><%= l(@attendances.worked_on, format: :short) %></td>
                  <td>
                    <% if @attendances.worked_on.wday == 6 %>
                      <font color="blue">土</font>
                    <% elsif @attendances.worked_on.wday == 0 %>
                      <font color="red">日</font>
                    <% elsif @attendances.worked_on.wday == 1 %>
                      <font color="black">月</font>
                    <% elsif @attendances.worked_on.wday == 2 %>
                      <font color="black">火</font>
                    <% elsif @attendances.worked_on.wday == 3 %>
                      <font color="black">水</font>
                    <% elsif @attendances.worked_on.wday == 4 %>
                      <font color="black">木</font>
                    <% elsif @attendances.worked_on.wday == 5 %>
                      <font color="black">金</font>
                    <% end %>            
                  </td>
                  <td><%= f.time_field :finished_plan_at, class: "form-control" %></td>
                  <td><%= f.check_box :tomorrow %></td>
                  <td><%= f.text_field :business_process_content, class: "form-control" %></td>
                  <td><%= f.collection_select(:instructor_confirmation, @superior, :name, :name) %></td>
                </tr>
               </tbody>
            </table>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
     
  
      