<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   <%= form_with(model: @user, url: new_overtime_user_attendance_path, local: true, method: :patch) do |f| %>
    <% @users.each do |user| %>
    <h1 class="modal-title">【<%= user.name %>からの残業申請】</h1>
     <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered table-condensed user-table">
           <thead> 
            <tr>
              <td>日付</td>
              <td>曜日</td>
              <td>終了予定時間</td>
              <td>指定勤務終了時間</td>
              <td>時間外時間</td>
              <td>業務処理内容</td>
              <td>指示者確認</td>
              <td>変更</td>
              <td>勤怠を確認</td>
            </tr>
           </thead>
           <% @attendances.each do |a| %>
            <%= f.fields_for "attendances[]", a do |i| %>
             <% if a.user_id == user.id && a.mark_instructor_confirmation == "申請中" && current_user.name == a.instructor_confirmation %>
           <tbody>
            <tr>
              <td><%= l(a.worked_on, format: :short) %></td>
              <td>
                <% if a.worked_on.wday == 6 %>
                  <font color="blue">土</font>
                <% elsif a.worked_on.wday == 0 %>
                  <font color="red">日</font>
                <% elsif a.worked_on.wday == 1 %>
                  <font color="black">月</font>
                <% elsif a.worked_on.wday == 2 %>
                  <font color="black">火</font>
                <% elsif a.worked_on.wday == 3 %>
                  <font color="black">水</font>
                <% elsif a.worked_on.wday == 4 %>
                  <font color="black">木</font>
                <% elsif a.worked_on.wday == 5 %>
                  <font color="black">金</font>
                <% end %>            
              </td>
              <td><%= l(a.finished_plan_at, format: :time) %></td>
              <td><%= l(user.designated_work_end_time, format: :time) %></td>
              <td>
                  <%= over_times(a.started_at, a.finished_plan_at, @user.basic_work_time) %>
              </td>
              <td><%= a.business_process_content %></td>
              <td><%= i.select :mark_instructor_confirmation, Attendance.mark_instructor_confirmations.keys, { include_blank: true } %></td>
              <td><%= i.check_box :change %></td>
              <td><%= link_to "確認", users_confirmation_check_user_attendance_path(@user, id: a.user_id, date: a.worked_on), class: "btn btn-primary" %></td>
            </tr>
            </tbody>
            <% end %>
            <% end %>
            <% end %>
            </table>
            </div>
           <% end %>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
