<% provide(:title, 'Attendance-Log') %>

<div>
  <h1>勤怠ログ</h1>
  <%= link_to "リセット", "#", class: "btn btn-default" %>
  <p><%= date_select :worked_on, {:discard_day => true} %></p>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
      </thead>
      <tbody>
      <% @attendances.each do |day| %>
      <tr>
        <td><%= l(day.worked_on, format: :long_line) %></td>
        <td><%= l(day.started_before_at, format: :hour) if day.started_before_at.present? %> : <%= format_min(day.started_before_at) %></td>
        <td><%= l(day.finished_before_at, format: :hour) if day.finished_before_at.present? %> : <%= format_min(day.finished_before_at) %></td>
        <td><%= l(day.started_at, format: :hour) if day.started_at.present? %> : <%= format_min(day.started_at) %></td>
        <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %> : <%= format_min(day.finished_at) %></td>
        <td>
          <% if day.finished_at.present? && day.mark_change_confirmation == "承認" %>
           <%= day.change_confirmation %>
          <% end %>
        </td>
        <td><%= l(day.updated_at, format: :middle) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>